asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
dj-database-url
gunicorn
google-genai
django-storages
boto3>=1.34.0
requests
feedparser
alpha_vantage
reportlab
whitenoise
pytickersymbols