<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panorama</title>
    {% load static %}
    {% load vite %}
    <script src=https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
    <link 
        rel="stylesheet" 
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=check_circle,error,info,close,delete,done,close,error,info,check_circle,delete,done" 
    />
    {# Vite will inject correct hashed CSS/JS via manifest #}

    

</head>
<body>
    <div id="main">
        <div id="root"></div>
    </div>

    {% vite_assets 'src/main.tsx' %}



    

</body>
</html>